<h1><%= t('users.followers.follower') %></h1>
<% if @users.present? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to "#{user.name}", user_path(user) %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('users.followers.notice') %></p>
<% end %>

<%= paginate @users %>
