<h1><%= t('users.followings.following') %></h1>
<% if @users.present? %>
  <% @users.each do |user| %>
    <ul>
      <li><%= link_to "#{user.name}", user_path("#{user.id}") %></li>
    </ul>
　<% end %>
<% else %>
  <p><%= t('users.followings.notice') %></p>
<% end %>

<%= paginate @users%>
