<h1><%= t('users.followers.follower') %></h1>
<% if @users.present? %>
  <% @users.each do |user| %>
    <ul>
　    <li><%= link_to "#{user.name}", user_path("#{user.id}") %></li>
    </ul>
  <% end %>
<% else %>
  <p><%= t('users.followers.notice') %></p>
<% end %>

<%= paginate @users%>
